.quest-editor a {
  color: #ffd700; /* 원하는 색상으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}
.quest-editor a:hover {
  color: #efbe85; /* 마우스를 올렸을 때 색상 변경 */
}

.quest-editor img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.quest-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
}

.quest-image {
  flex: 1 1 calc(33.333% - 8px); /* gap 감안 */
  max-width: calc(33.333% - 8px);
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.quest-image-wrapper.count-1 .quest-image {
  flex-basis: 100%;
  max-width: 100%;
}

.quest-image-wrapper.count-2 .quest-image {
  flex-basis: calc(50% - 6px);
  max-width: calc(50% - 6px);
}

.quest-image-wrapper.count-3 .quest-image {
  flex-basis: calc(33.333% - 8px);
  max-width: calc(33.333% - 8px);
}
.leaflet-container {
  background-color: #1e1e24 !important;
}
