.quest-editor a {
  color: #ffd700; /* 원하는 색상으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}
.quest-editor a:hover {
  color: #efbe85; /* 마우스를 올렸을 때 색상 변경 */
}

.quest-editor img {
  display: block;
  margin: 0 auto;
}

.quest-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
}

.quest-image {
  max-width: 100%;
  width: 48%;
  height: auto;
  border-radius: 8px;
}
